
@import '~antd/dist/antd.css';

.site-layout-content {
  background: #fff;
  padding: 12px 0;
  min-height: 60vh;
}

.ant-layout-content {
  background: #fff;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.avatar-name{
  font-size: 30px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .ant-layout-content{
    padding: 10px !important;
  }
  .site-layout-content .ant-table-tbody{
    font-size: 12px;
  }
  .ant-table-tbody .ant-table-row .ant-table-cell{
    padding: 8px;
  }

  .ant-table-column-sorters{
    padding: 8px;
    font-size: 12px;
  }

  .ant-btn{
    font-size: 12px;
  }
}
